/bin/
/build
/develop-eggs/
/eggs/
/parts/
/overrides/
/data/
*.pyc
*.zip
*~
*.orig
*.swp
.project
.pydevproject
.spyderproject
.ropeproject
*.egg-info
/.installed.cfg
.DS_Store*
/.settings
/.nfs*
\#*\#
.\#*
profiling-data/
webui/local.py
*.pickle
*.wsgi
