<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sentiment Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30333956-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Sentiment Analyzer</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          {% if classified_information %}
            <form class="navbar-search pull-right" action="" method="POST">
              {% csrf_token %}
              <input class="search-query span2" type="search" name="query" placeholder="{{ query }}">
            </form>
          {% endif %}
         </div>
        </div>
      </div>
    </div>

    <div class="container">
      {% if not classified_information %}
        <div class="hero-unit">
          <form action="" method="POST">
          {% csrf_token %}
          <!-- Main hero unit for a primary marketing message or call to action -->
            <h2 align = Center>Twitter Sentiment Analysis</h2>
            <p> <br><br></p>
            <p align = Center><input type="search" class="span3" placeholder="Search / @username" name="query" id="search" autofocus /> </p>
            <p><button type="submit" class="btn btn-primary btn-large pull-right">Search &raquo;</button></p>
          </form>  
        </div>
    </div>
      {% else %}
    <div class="container">  
       <div class="hero-unit">
            <h2 align = Center>Twitter Sentiment Analysis</h2>
            <div class="row">
            <p><strong>Tweets Classified : {{ tweets_classified }}</strong></p>
            <p><strong>Positve Tweets : {{ positive_count }}</strong></p>
            <div class="progress progress-success">
             <div class="bar" style="width:{% widthratio  positive_count tweets_classified 100 %}%;"></div>
            </div>
            <p><strong> Negative Tweets : {{ negative_count }}</strong></p>
            <div class="progress progress-danger">
               <div class="bar" style="width:{% widthratio  negative_count tweets_classified 100 %}%"> </div>
            </div>
             <p><strong>Neutral Tweets : {{ neutral_count }}</strong></p>
             <div class="progress progress-warning">
               <div class="bar" style="width:{% widthratio  neutral_count tweets_classified 100 %}%"> </div>
             </div>
           </div> 
          <script type="text/javascript" src="https://www.google.com/jsapi"></script>
          <script type="text/javascript">
             google.load("visualization", "1", {packages:["corechart"]});
             google.setOnLoadCallback(drawChart);
             function drawChart() 
             {
               var data = new google.visualization.DataTable();
                data.addColumn('string', 'Tweet Classification');
                data.addColumn('number', 'Count');
                data.addRows([
                ['Positive', {{ positive_count }}],
                ['Negative', {{ negative_count }}],
                ['Neutral', {{ neutral_count }}]
                ]);

                var options = 
                {
                  title: 'Tweet Classification Chart',
                  colors: ['green', 'red', 'orange']
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        </script>
        <div id="chart_div" backgroundColor = '#f5f5f5'></div> 
        </div>
         <!-- --> 
        <section id="gridSystem">
          <!-- Example row of columns -->
          {% for tweet_id, tweet in classified_information.items %}
               {% if tweet.sentiment != 0 %} 
               <div class="row show-grid">
                <div class="span12">
                  <div class="alert alert{% if tweet.sentiment == -1 %}-error{% else %}{% if tweet.sentiment == 1 %}-success{% endif %}{% endif %}"
                    <p>{% if tweet.user %}<strong><a href="/?q=@{{ tweet.user }}">{{ tweet.user }}</a></strong>{% endif %} {{ tweet.text }}</p>
                    {{ tweet.date|timesince }} ago
                  </div>
                </div>
              </div> 
              {% endif %}
          {% endfor %}
        </section>
        <section id="gridSystem">
          <!-- Example row of columns -->
          {% for tweet_id, tweet in classified_information.items %}
               {% if tweet.sentiment == 0 %} 
               <div class="row show-grid">
                <div class="span12">
                  <div class="alert alert{% if tweet.sentiment == -1 %}-error{% else %}{% if tweet.sentiment == 1 %}-success{% endif %}{% endif %}"
                    <p>{% if tweet.user %}<strong><a href="/?q=@{{ tweet.user }}">{{ tweet.user }}</a>{% endif %}</strong> {{ tweet.text }}</p>
                    {{ tweet.date|timesince }} ago
                  </div>
                </div>
              </div> 
              {% endif %}
          {% endfor %}
        </section>
             {% endif %} 
      <section id = lines> <hr> </section>
      <section id = footer>
       <div>
        <p>University of California, Irvine &copy; Copyright 2012 Ajay Narayan, Madhusudan C.S., Shobhit N.S.</p>
       </div> 
      </section>

    </div> <!-- /container -->
    <script type="text/javascript" src="/assets/js/jquery.jtweetsanywhere-1.3.1.js">
     $('#jTweetsAnywhereEndlessScrollingSample').jTweetsAnywhere
     (
      {
        count: 20,
        showTweetFeed:
        {
            showProfileImages: true,
            showUserScreenNames: true,
            paging: 
            {
                mode: 'endless-scroll'
            }
        }
        onDataRequestHandler: function(stats) 
        {
            if (stats.dataRequestCount) 
            {
                return true;
            }
        }
     } 
    );
    </script>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
